/* ================
    Initial Style
   ================ */

body {
  font-family: 'Proxima Nova';
  margin: 0;
}

input[type=text]:focus {
  outline: none;
}

#header-container {
  border-bottom: 10px solid #323232;
  background-color: #F16256;
}

.wrapper {
  width: 90%;
  margin: 0 5%;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}

/* ================
         ALL
   ================ */

#title {
  text-align: center;
  color: white;
}

#main {
  text-align: center;
}
