/* ================
    Initial Style
   ================ */

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima-nova-regular.ttf');
}

body {
  font-family: 'Proxima Nova';
  margin: 0;
}

input[type=text]:focus, input[type=submit]:focus {
  outline: none;
}

input[type=submit] {
  color: white;
  -webkit-appearance: none;
}

#header-container {
  border-bottom: 10px solid #323232;
  background-color: #F16256;
}

.wrapper {
  width: 90%;
  margin: 0 5%;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}

/* ================
         ALL
   ================ */

.title-home {
  text-align: center;
  color: white;
  margin: 10px;
  font-size: 1.7em;
}

#main {
  text-align: center;
}

.scrollBox {
  -webkit-overflow-scrolling: touch;
}

/* ================
    MOBILE: HEADER
   ================ */

.title-playlist {
  font-size: 1.3em;
  float: left;
  color: white;
  width: 80%;
}

#plus-button {
  width: 1.6em;
  height: auto;
  margin: auto;
}

#plus-button-container {
  display: flex;
  position: absolute;
  top: 8px;
  right: 12px;
  z-index: 2;
  height: 35px;
  width: 35px;
  transition-duration: 0.3s;
  transition-property: transform;
}

/* ================
    MOBILE: FORMS
   ================ */

.llama-logo-container {
  width: 35%;
  margin: 35px auto;
  min-width: 185px;
  max-width: 250px;
}

#llama-logo {
  width: 100%;
}

#github-logo {
  display: none;
}

.forms {
  display: block;
  background-color: #F16256;
  width: 90%;
  margin: auto;
  height: 40px;
  margin-bottom: 10px;
  border-style: none;
  text-align: center;
  font-size: 1.2em;
  border-radius: 5px;
  max-width: 430px;
  color: white;
}

#start-button {
  height: 42px;
}

.forms-container {
  margin-bottom: 30px;
}

/* =====================
      MOBILE: PLAYER
   ===================== */

#image-placeholder {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
}

#image-placeholder img {
  width: 100%;
}

#playlist-code {
  font-size: 20px;
  font-weight: bold;
  border: 1px solid #F16256;
  padding: 7px 20px;
}

#now-playing {
  max-width: 400px;
  width: 100%;
  position: relative;
  margin: auto;
}

#now-playing img {
  width: 100%;
}

#now-playing-inner-title {
  position: absolute;
  color: white;
  bottom: 10px;
  font-size: 12px;
  padding: 10px 20px;
  text-align: left;
  margin-left: 7px;
  margin-bottom: 5px;
}

#now-playing-inner-title h3 {
  margin: 0 0 5px 0;
}

#now-playing-inner-title h2 {
  margin: 0;
}

#now-playing-outer-title {
  display: none;
}

#playback-buttons {
  position: absolute;
  top: 125px;
  width: 100%;
}

#playback-buttons img {
  width: 27%;
  height: auto;
  margin: 0 10px;
}

.pic-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.25);
  opacity: 1;
  width: 100%;
  height: 100%;
}

/* =====================
      MOBILE: QUEUE
   ===================== */

#queue-container {
  margin-top: 30px;
  text-align: left;
}

.queue-track:first-child {
  border-top: 1px solid #ACACAC;
  padding-top: 15px;
}

.queue-track {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ACACAC;
}

.queue-track-user {
  display: none;
}

.queue-track-description {
  display: inline-block;
  font-size: 14px;
  width: 50%;
  margin: auto 15px;
}

.queue-track-album-cover {
  display: inline-block;
  margin: auto;
  width: 64px;
}

.vote-buttons {
  text-align: center;
  margin: auto;
  height: 80px;
}

.vote-number {
  margin: 10px auto;
}

.vote-buttons img {
  display: block;
  width: 23px;
  height: auto;
}

::-webkit-input-placeholder {
  color: white;
}


/* =====================
      MOBILE: SEARCH
   ===================== */

.searchbar-container {
  padding-bottom: 15px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.searchbar {
  margin: 0 auto;
  width: 80%;
}

.searchbar input {
  font-family: 'Proxima Nova';
  font-size: 25px;
  color: #fff;
  border-width: 0px;
  width: 100%;
  height: 50px;
  background-color: transparent;
  border-color: #fff;
  padding: 6px 6px 6px 6px;
}

.track-results {
  display: flex;
  flex-wrap: wrap;
}

.queried-track-container {
  margin: 17px auto;
  position: relative;
}

.queried-track {
  position: relative;
  height: 300px;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 20%,rgba(0,0,0,0.5) 100%);
}

.queried-track-title {
  color: white;
  text-align: left;
  margin: 0 5%;
  position: absolute;
  bottom: 0;
  width: 65%;
}

.queried-track-title p:first-child {
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}

.queried-track-title p:last-child {
  font-size: 17px;
  margin-top: 5px;
}

.queried-track-album-cover {
  width: 300px;
  height: auto;
  position: inherit;
  z-index: -1;
}

.add-track-button {
  position: absolute;
  width: 40px;
  height: auto;
  right: 15px;
  bottom: 15px;
}


@media only screen and (min-width: 401px) {

/* ======================
    INTERMEDIATE: HEADER
   ====================== */

  .title-playlist {
    font-size: 2em;
  }
}


/* ==================
    SEMI-WIDE: FORMS
   ================== */

@media only screen and (min-width: 768px) {
  .forms {
    display: inline-block;
    width: 40%;
  }

  .forms-container {
    margin-top: 45px;
  }

  #github-logo {
    display: block;
    position: absolute;
    top: 24px;
    right: 65px;
  }

/* ===================
    SEMI-WIDE: SEARCH
   =================== */

  .searchbar input {
    font-size: 35px;
  }

  .queried-track-container {
    margin: 17px auto 40px;
  }

  .queried-track-title p:first-child {
    font-size: 15px;
    margin-bottom: 5px;
  }

  .queried-track-title p:last-child {
    font-size: 20px;
    margin-top: 5px;
  }
}


/* ======================
        WIDE: PLAYER
   ====================== */

@media only screen and (min-width: 1024px) {

  .player {
    width: 750px;
    height: 400px;
    margin: 50px auto 100px;
    display: flex;
  }

  #now-playing {
    float: left;
    width: 400px;
  }

  #playback-buttons {
    top: 145px;
  }

  #now-playing-inner-title {
    display: none;
  }

  #playlist-code {
    display: none;
  }

  #now-playing-outer-title {
    display: block;
    position: relative;
    width: 50%;
    margin: auto;
    padding: 40px;
  }

  #now-playing-outer-title h3 {
    font-weight: bolder;
  }

  #now-playing-outer-title h2 {
    margin-top: 10px;
  }

  #wide-playlist-code {
    display: block;
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #F16256;
    width: 50%;
    padding: 7px 20px;
  }

  #image-placeholder {
    margin: auto;
  }

/* ======================
        WIDE: QUEUE
   ====================== */

  #queue-container {
    margin: auto;
  }

  .queue-track:last-of-type {
    margin-bottom: 50px;
  }

  .queue-track-title {
    font-size: 20px;
  }

  .queue-track-user {
    display: block;
    font-size: 15px;
  }

  .queue-track-album-cover {
    width: 100px;
  }

  .vote-buttons {
    width: 170px;
    height: 40px;
    display: flex;
  }

  .vote-number {
    font-size: 20px;
    display: inline-block;
    margin: auto;
  }

  .vote-buttons img:first-child {
    display: inline-block;
    margin: auto;
    width: 27px;
  }
  .vote-buttons img:last-child {
    display: inline-block;
    margin: auto;
    width: 27px;
  }

}
